@model ParqueProcesoDesarrollo.Web.Data.Entities.Employee
@{
    ViewData["Title"] = "Home Page";
}

@if (this.User.Identity.IsAuthenticated)
{
    <div class="text-center" style="background-clip:">
        <h1 class="display-4">Bienvenido</h1>
        <h2>@User.Identity.Name</h2>
        <p><a href="https://drive.google.com/drive/folders/1UtceU0pb4XVZshWRLKAIXb8OGYNjANdS?usp=sharing">Link a Carpeta de Drive</a>.</p>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Bienvenidos</h1>
        <p><a href="https://drive.google.com/drive/folders/1UtceU0pb4XVZshWRLKAIXb8OGYNjANdS?usp=sharing">Link a Carpeta de Drive</a>.</p>
    </div>
}
