@model ParqueProcesoDesarrollo.Web.Models.ProviderContactViewModel

@{
    ViewData["Title"] = "Personas de Contacto";
}

<div class="view">
    <div class="manager-table__top">
        <h3 class="manager-table__caption">Agregar nuevo</h3>
    </div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProviderId"/>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="PaternalSurname" class="control-label"></label>
                <input asp-for="PaternalSurname" class="form-control" />
                <span asp-validation-for="PaternalSurname" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="MaternalSurname" class="control-label"></label>
                <input asp-for="MaternalSurname" class="form-control" />
                <span asp-validation-for="MaternalSurname" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Post" class="control-label"></label>
                <input asp-for="Post" class="form-control" />
                <span asp-validation-for="Post" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusinessHours" class="control-label"></label>
                <input asp-for="BusinessHours" class="form-control" />
                <span asp-validation-for="BusinessHours" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="StatusId" class="control-label"></label>
                <select asp-for="StatusId" asp-items="Model.Statuses" class="form-control"></select>
                <span asp-validation-for="Provider" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-controller="Providers" asp-route-id="@Model.ProviderId">Back to List</a>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
