@model IEnumerable<ParqueProcesoDesarrollo.Web.Data.Entities.TicketSale>

 @{
    ViewData["Title"] = "Index";
}

<h1>Venta de Boleto</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Agregar</a>
</p>
