@model ParqueProcesoDesarrollo.Web.Models.addDogViewModel

@{
    ViewData["Title"] = "Spa";
}

<h1>Realizar un registro</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSpa">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="IdClient" class="control-label">Seleccione el cliente</label>
                <select asp-for="IdClient" class="form-control" asp-items="Model.Wristbands"></select>
                <span asp-validation-for="IdClient" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="idSize" class="control-label"></label>
                <select asp-for="idSize" id="sizep" class="form-control" asp-items="Model.Sizes"></select>
                <span asp-validation-for="idSize" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="Size.Name" id="size-name" />

            <div class="form-group">
                <label asp-for="Size.Price" class="control-label">Total</label>
                <input asp-for="Size.Price" id="pricex" readonly class="form-control" />
                <span asp-validation-for="Size.Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DateOfCheckInTime" class="control-label">Fecha y hora de entrada</label>
                <input asp-for="DateOfCheckInTime" readonly class="form-control" />
                <span asp-validation-for="DateOfCheckInTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="button" value="Continuar" class="btn btn-primary" id="continuar-venta" />
            </div>

            <div class="popUp" id="popUp-generico">
                 <input type="submit" value="Confirmar" class="btn btn-success" id="continuar-venta" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-info" asp-action="IndexSpa">Regresar</a>
</div>

<script>
    let idSize = document.getElementById("sizep");
    let price = document.getElementById("pricex");
    let sizeName = document.getElementById("size-name");

    idSize.addEventListener("change", function(){
        if(idSize.value == 1){
            price.value = 260;
            sizeName.value = "Pequeño";
        }
        if(idSize.value == 2){
            price.value = 310;
            sizeName.value = "Mediano";
        }
        if(idSize.value == 3){
            price.value = 450;
            sizeName.value = "Grande";
        }
    });
</script>