@model ParqueProcesoDesarrollo.Web.Models.addDogViewModel

@{
    ViewData["Title"] = "CreateSpa";
}

<h1>Realizar un registro</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSpa">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="WristbandSaleDetail.NameOfPersonInCharge" class="control-label">Id pulsera</label>
                <input asp-for="WristbandSaleDetail.NameOfPersonInCharge" id="dateOfSale" class="form-control" />
                <span asp-validation-for="WristbandSaleDetail.NameOfPersonInCharge" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Owner" class="control-label">Encargado</label>
                <input asp-for="Owner" id="dateOfSale" readonly class="form-control" />
                <span asp-validation-for="Owner" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="idSize" class="control-label"></label>
                <select asp-for="idSize" class="form-control" asp-items="Model.Sizes"></select>
                <span asp-validation-for="idSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size.Price" class="control-label">Total</label>
                <input asp-for="Size.Price" id="precio" readonly class="form-control" />
                <span asp-validation-for="Size.Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="button" value="Continuar" class="btn btn-primary" id="continuar-venta" />
            </div>

            <div class="popUp" id="popUp-generico">
                 <input type="submit" value="Confirmar" class="btn btn-success" id="continuar-venta" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-info" asp-action="IndexSpa">Regresar</a>
</div>

<script>
    let botC = document.getElementById("continuar-venta");
    let popUp = document.getElementById("popUp-generico");

    botC.addEventListener("click", function () {
    popUp.classList.toggle("invisibleP");
    });

    });
</script>