@model ParqueProcesoDesarrollo.Web.Data.Entities.Kit
@{
    ViewData["Title"] = "Kits";
}

<div class="view">
    <div class="manager-table__top">
        <h3 class="manager-table__caption">Realizar venta</h3>
    </div>

    <form asp-action="CreateKits" enctype="multipart/form-data">
        <div class="view__container">
            <div>
                <label asp-for="DateOfSale" class="view__label"></label>
                <input asp-for="DateOfSale" id="dateOfSale" class="view__input"/>
                <span asp-validation-for="DateOfSale" class="text-danger"></span>
                
                <label asp-for="Quantity" class="view__label">Cantidad de kits</label>
                <input asp-for="Quantity" id="quantity" class="view__input" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
                
                <label asp-for="UnitPrice" class="view__label">Precio unitario</label>
                <input asp-for="UnitPrice" readonly id="unitPrice" class="view__input" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
                
                <div class="form-group">
                <label class="control-label">Total</label>
                <input id="total" disabled class="form-control" />
                </div>

            </div>
        </div>
        <div class="view__button-container">
        
            <a asp-action="IndexKits" class="contacto__button nta-btn-common view__button">Regresar</a>
            <input type="submit" value="Confirmar" class="nta-btn-secondary"  />
        </div>
    </form>
</div>

<script>
    var total = document.getElementById("total");
    var unitPrice = document.getElementById("unitPrice");
    var quantity = document.getElementById("quantity");

    let botC = document.getElementById("continuar-venta");
    let popUp = document.getElementById("popUp-generico");

    quantity.addEventListener("change", function(){
        total.value = unitPrice.value * quantity.value;
    });

    botC.addEventListener("click", function () {
    popUp.classList.toggle("invisibleP");
    });

    
</script>


