@*

*@
@{
}
<h1>Servicios</h1>

    <div style="width:fit-content">
        <a class="nav-link text-dark" asp-area="" asp-controller="Services" asp-action="IndexKits">
            <img src="/images/Services/gelAntiB.jpg" alt="" style="width:250px;height:150px; border-radius:15px">
        </a>
    </div>

    <div style="width:fit-content">
        <a class="nav-link text-dark" asp-area="" asp-controller="Services" asp-action="IndexSpa">
            <img src="/images/Services/spaPerro.jpg" alt="" style="width:250px;height:150px; border-radius:15px">
        </a>
    </div>