@model ParqueProcesoDesarrollo.Web.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<link href="~/css/Login.css" type="text/css" rel="stylesheet"/>

  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-7">
              <div class="card-body p-md-6 mx-md-5">
                <form method="post">
                  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                  <div class="form-outline mb-4">
                                    <label asp-for="Email" class="view__label" for="form2Example11">Correo Electrónico*</label>
                                    <input type="email" asp-for="Email" id="form2Example11" class="view__input"
                      placeholder="Correo Electrónico" />
                    
                  </div>

                  <div class="form-outline mb-4">
                                    <label class="view__label" asp-for="Password" for="form2Example22">Contraseña*</label>
                                    <input type="password" asp-for="Password" id="form2Example22" class="view__input" placeholder="Contraseña" />
                  </div>

                  <div class="view__button-container">
                                    <input type="submit" value="Iniciar Sesión" class="nta-btn-secondary" />
                   </div>
                </form>

              </div>
            </div>
              <div class="col-lg-5 d-flex align-items-center gradient-custom-2">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
