@model ParqueProcesoDesarrollo.Web.Models.MaintenanceViewModel

@{ ViewData["Title"] = "Mantenimiento"; }

<div class="view">
    <div class="manager-table__top">
        <h3 class="manager-table__caption">Agregar Nuevo</h3>
    </div>

    <form asp-action="Create" enctype="multipart/form-data">
        <div class="view__container">
            <div>
                <label asp-for="MaintenanceDate" class="view__label"></label>
                <input asp-for="MaintenanceDate" class="view__input" />
                <span asp-validation-for="MaintenanceDate" class="text-danger"></span>

                <label asp-for="DateOfLastOverhaul" class="view__label"></label>
                <input asp-for="DateOfLastOverhaul" class="view__input" />
                <span asp-validation-for="DateOfLastOverhaul" class="text-danger"></span>

                <label asp-for="Remarks" class="view__label"></label>
                <input asp-for="Remarks" class="view__input" />
                <span asp-validation-for="Remarks" class="text-danger"></span>

                <label asp-for="UserId" class="view__label"></label>
                <select asp-for="UserId" asp-items="Model.Users" class="view__input"></select>
                <span asp-validation-for="User" class="text-danger"></span>

                <label asp-for="MaintenanceId" class="view__label"></label>
                <select asp-for="MaintenanceId" asp-items="Model.TPMaintenances" class="view__input"></select>
                <span asp-validation-for="TypeOfMaintenance" class="text-danger"></span>

                <label asp-for="AtraccionId" class="view__label"></label>
                <select asp-for="AtraccionId" asp-items="Model.Atractions" class="view__input"></select>
                <span asp-validation-for="Attraction" class="text-danger"></span>

                <label asp-for="StatusId" class="view__label"></label>
                <select asp-for="StatusId" asp-items="Model.Statuses" class="view__input"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
        </div>
        <div class="view__button-container">

            <a asp-action="Index" class="contacto__button nta-btn-common view__button">Regresar</a>
            <input type="submit" value="Agregar" class="nta-btn-secondary" />
        </div>
    </form>
</div>
@section Scripts {
                  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
              }
