@model ParqueProcesoDesarrollo.Web.Models.MaintenanceViewModel

@{
    ViewData["Title"] = "Mantenimiento";
}

<div class="manager-table__top">
    <h3 class="manager-table__caption">Editar</h3>

</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MaintenanceDate" class="control-label"></label>
                <input asp-for="MaintenanceDate" class="form-control" />
                <span asp-validation-for="MaintenanceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfLastOverhaul" class="control-label"></label>
                <input asp-for="DateOfLastOverhaul" class="form-control" />
                <span asp-validation-for="DateOfLastOverhaul" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" asp-items="Model.Users" class="form-control"></select>
                <span asp-validation-for="Users" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AtraccionId" class="control-label"></label>
                <select asp-for="AtraccionId" asp-items="Model.Atractions" class="form-control"></select>
                <span asp-validation-for="Atractions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaintenanceId" class="control-label"></label>
                <select asp-for="MaintenanceId" asp-items="Model.TPMaintenances" class="form-control"></select>
                <span asp-validation-for="TPMaintenances" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StatusId" class="control-label"></label>
                <select asp-for="StatusId" asp-items="Model.Statuses" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

<div class="view__button-container">
    <div class="form-group">
        <a asp-action="Index" class="contacto__button nta-btn-common view__button">Regresar</a>
        <input type="submit" value="Guardar" class="contacto__button nta-btn-primary view__button" />
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
