@model ParqueProcesoDesarrollo.Web.Models.addUserViewModel

@{
    ViewData["Title"] = "Usuarios";
}

<div class="view">
    <div class="manager-table__top">
        <h3 class="manager-table__caption">Agregar nuevo</h3>
    </div>

    <form asp-action="Create" enctype="multipart/form-data">
        <div class="view__container">
            <div>
                <label asp-for="FirstName" class="view__label"></label>
                <input asp-for="FirstName" class="view__input"/>
                <span asp-validation-for="FirstName" class="text-danger"></span>
                
                <label asp-for="ParentalSurname" class="view__label"></label>
                <input asp-for="ParentalSurname" class="view__input" />
                <span asp-validation-for="ParentalSurname" class="text-danger"></span>
                
                <label asp-for="MaternalSurname" class="view__label"></label>
                <input asp-for="MaternalSurname" class="view__input" />
                <span asp-validation-for="MaternalSurname" class="text-danger"></span>
                
                <label asp-for="PhoneNumber" class="view__label"></label>
                <input asp-for="PhoneNumber" class="view__input" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                
                <label asp-for="RFC" class="view__label"></label>
                <input asp-for="RFC" class="view__input" />
                <span asp-validation-for="RFC" class="text-danger"></span>

                <label asp-for="Salary" class="view__label"></label>
                <input asp-for="Salary" class="view__input" min="1" />
                <span asp-validation-for="Salary" class="text-danger"></span>
                
                <label asp-for="idRole" class="view__label"></label>
                <select asp-for="idRole" class="view__input" asp-items="Model.roles"></select>
                <span asp-validation-for="idRole" class="text-danger"></span>
                
                <label asp-for="Email" class="view__label"></label>
                <input asp-for="Email" class="view__input" />
                <span asp-validation-for="Email" class="text-danger"></span>
                
                <label asp-for="Pass" class="view__label"></label>
                <input asp-for="Pass" class="view__input" type="password" />
                <span asp-validation-for="Pass" class="text-danger"></span>

                <label asp-for="ImageFile" class="view__label"></label>
                <input asp-for="ImageFile" class="view__input" type="file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
        </div>
        <div class="view__button-container">
        
            <a asp-action="Index" class="contacto__button nta-btn-common view__button">Regresar</a>
            <input type="submit" value="Agregar" class="nta-btn-secondary"  />
        </div>
    </form>
</div>

