@model ParqueProcesoDesarrollo.Web.Data.Entities.PurchaseHeader

@{
    ViewData["Title"] = "Eliminar";
}

<div class="view">
    <div class="manager-table__top">
        <h3 class="manager-table__caption">¿Deseas eliminar la compra?</h3>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="view__button-container">
            <input type="submit" value="Confirmar" class="nta-btn-danger" /> 
            <a asp-action="Index" class="contacto__button nta-btn-common view__button">Regresar</a>
        </div>
    </form>
</div>