@model ParqueProcesoDesarrollo.Web.Models.PurchaseDetailViewModel

@{
    ViewData["Title"] = "Editar";
}

<h1>Ingresa los nuevos datos</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label"></label>
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplyId" class="control-label"></label>
                <select asp-for="SupplyId" asp-items="Model.Supplies" class="form-control"></select>
                <span asp-validation-for="Supply" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchaseHeaderId" class="control-label"></label>
                <select asp-for="PurchaseHeaderId" asp-items="Model.PurchaseHeaders" class="form-control"></select>
                <span asp-validation-for="PurchaseHeader" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
